@font-face {
  font-family: 'Proxima Nova Extra Bold';
  src: url('ProximaNova-Extrabld.eot');
  src: url('ProximaNova-Extrabld.eot?#iefix') format('embedded-opentype'),
    url('ProximaNova-Extrabld.woff') format('woff'),
    url('ProximaNova-Extrabld.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Semibold';
  src: url('ProximaNova-Semibold.eot');
  src: url('ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'),
    url('ProximaNova-Semibold.woff') format('woff'),
    url('ProximaNova-Semibold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Semibold Italic';
  src: url('ProximaNova-SemiboldIt.eot');
  src: url('ProximaNova-SemiboldIt.eot?#iefix') format('embedded-opentype'),
    url('ProximaNova-SemiboldIt.woff') format('woff'),
    url('ProximaNova-SemiboldIt.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Bold';
  src: url('ProximaNova-Bold.eot');
  src: url('ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
    url('ProximaNova-Bold.woff') format('woff'),
    url('ProximaNova-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Regular';
  src: url('ProximaNova-Regular.eot');
  src: url('ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
    url('ProximaNova-Regular.woff') format('woff'),
    url('ProximaNova-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}



.header{
  background-image:url(/assets/img/header_bg.png);
  width: 100vw;
  height: 700px;
}
.navbar {
  max-width: 1280px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-logo {
  margin-top: 15px;
}
.header-contacts {
  display: flex;
  font-family: 'Proxima Nova', sans-serif;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 400;
  align-items: center;
}

.top-phone {
  margin-right: 20px;
  font-family: 'Proxima Nova Extra Bold', sans-serif;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 700;
  color: #292929;
}

.header-contacts a {
  text-decoration: none;
  color: #292929;
}


.btn {
  width: 225px;
  padding: 15px 0 15px 0;
  background-color: #ffb504;
  border: 2px solid rgb(255, 160, 71);
  box-shadow: 0px 8px 13px 0px rgba(0, 0, 0, 0.03);
  border-radius: 8px;
  cursor: pointer;
}

.btn-text {
  font-family: 'Proxima Nova Regular', sans-serif;
  font-size: 12px;
  line-height: 1.2;
  font-weight: 600;
  text-transform: uppercase;
  color: #ffffff;
  text-shadow: 1px 2px 2px black;
}

.header-title {
  max-width: 1280px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.header-text {
  width: 498px;
  height: 410px;
  margin-top: 104px;
}

.header-form {
  width: 355px;
  height: 410px;
  margin-top: 104px;
  background-color: #fff;
  display: unset;
}

.bottom-header-text {
  margin-top: 45px;
}

.header-price {
  margin-top: 55px;
  width: 225px;
  height: 105px;
  background-color: #70c849;
  text-align: center;
}

.top-text {
  padding-top: 20px;
  font-family: 'Proxima Nova', sans-serif;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 400;
  color: #ffffff;
}

.bottom-text {
  font-family: 'Proxima Nova', sans-serif;
  padding: 10px 0 24px 0;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 400;
  color: #ffffff;
}

.imba {
  font-family: 'Proxima Nova Semibold', sans-serif;
  /* 'Proxima Nova Semibold',sans-serif;
padding: 10px 0 24px 0;*/
  font-size: 25px;
  line-height: 1.2;
  font-weight: 600;
  color: #ffffff;
}

.text-next {
  margin-top: 30px;
  text-transform: uppercase;
  font-family: 'Proxima Nova Bold', sans-serif;
  font-size: 22px;
  font-weight: 700;
  color: #292929;
}

.header-title h1 {
  font-family: 'Proxima Nova', sans-serif;
  font-size: 40px;
  line-height: 58px;
  font-weight: 700;
  color: #292929;
  text-transform: uppercase;
}

.header-title h2 {
  font-family: 'Proxima Nova Regular', sans-serif;
  font-size: 24px;
  line-height: 1.2;
  font-weight: 400;
  color: #292929;
}